
  .burger {
    border-radius: 1em;
    margin-right: 0.5em;
    color: white;
    background-color:#dc3545;
  }

  .gone {
    color: rgba(184, 183, 183, 0.87);
  }

  .askem {
    text-align: center;
  }

  body {
    background-image: url(/assets/img/bck.png);
		background-repeat: no-repeat;
		background-attachment: fixed;
    background-size: 100% 100%;
  }

  .jumbotron {
    background-color: rgba(212, 245, 245, 0.75);
  }

  .btn {
    margin-bottom: 0.25em;
  }
  